<div class="row">
  <div class="col-xs-12">
    <div class="bannerMeal" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @meal_provider.photo %>')";>
        <p class="bannerMeal-category"><%= @meal_provider.category %></p>
      <div>
        <h2> <%= @meal_provider.name %> </h2>
      </div>
    </div>
    <div class="bannerUnderMeal">
      <p class="bannerMeal-description"><%= @meal_provider.address %></p>
      <div>
     <%= link_to "See menu", meal_provider_meals_path(@meal_provider), class:"btn btn-warning btn-lg" %>
      </div>
    </div>
  </div>
</div>
