<div class="row">
  <div class="col-xs-12">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
      <div class="container">
        <p><%= @order.email %></p>
      </div>
      <div class="container">
       <ul>
        <% sum = 0 %>
        <% @order.meal_orders.each do |mo|%>
        <li>
          <%= mo.meal.name %>
          <%= humanized_money_with_symbol(mo.meal.price) %>
        </li>
        <% sum += mo.meal.price %>
        <% end %>
        <li>Total: <%= humanized_money_with_symbol(@order.total_pretty) %></li>
        <li><%= @order.state %></li>
      </ul>
    </div>
  </div>
</div>
</div>


<div class="bannerBtnMax">
  <div id="buttonMax">
  <% if @order.state == 'Pending'%>

  <%= link_to new_order_payment_path(@order), class:'btn btn-primary' do %>
  Purchase
  <% end %>
  <% end %>
</div>
</div>

<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Your order
  </div>

  <!-- Product #1 -->
  <div class="orderline">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="heart"></span>
    </div>

    <div class="image" id="meal_cart">
      <%= image_tag("cooking.png", width: '100') %>
    </div>

    <div class="description">
      <span>Pizza Hawaï</span>
      <span>Pizza with ananas</span>
    </div>

    <div class="quantity">
      <i class="minus-btn far fa-minus-square" type="button" name="button"></i>
      <input type="text" name="name" value="1">
      <i class="plus-btn far fa-plus-square" type="button" name="button"></i>
    </div>

    <div class="total-price">13€</div>
  </div>

  <!-- Product #2 -->
  <div class="orderline">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="heart"></span>
    </div>

    <div class="image" id="meal_cart">
      <%= image_tag("chicken_donburi.jpg", width: '100') %>
    </div>

    <div class="description">
      <span>Chicken Donburi</span>
      <span>Homemade chicken teriyaki</span>
    </div>

    <div class="quantity">
      <i class="minus-btn far fa-minus-square" type="button" name="button"></i>
      <input type="text" name="name" value="0">
      <i class="plus-btn far fa-plus-square" type="button" name="button"></i>
    </div>

    <div class="total-price">12€</div>
  </div>


  <!-- Product #3 -->
  <div class="orderline">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="heart"></span>
    </div>

    <div class="image" id="meal_cart">
      <%= image_tag("fennel.jpg", width: '100') %>
    </div>

    <div class="description">
      <span>Fennel pollen falafel</span>
      <span>Fresh hipster food</span>
    </div>

    <div class="quantity">
      <i class="minus-btn far fa-minus-square" type="button" name="button"></i>
      <input type="text" name="name" value="0">
      <i class="plus-btn far fa-plus-square" type="button" name="button"></i>
    </div>

    <div class="total-price">16€</div>
  </div>
</div>

