<div class="row">
  <div class="col-xs-12">
    <div class="bannerMeal" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
      <div class="container">
        <p><%= @order.email %></p>
      </div>
      <div class="container">
       <ul>
        <% sum = 0 %>
         <% @order.meal_orders.each do |mo|%>
         <li>
          <%= mo.meal.name %>
          <%= humanized_money_with_symbol(mo.meal.price) %>
        </li>
        <% sum += mo.meal.price %>
        <% end %>
        <li>Total: <%= humanized_money_with_symbol(@order.total_pretty) %></li>
        <li><%= @order.state %></li>
      </ul>
    </div>
  </div>
  <%= link_to new_order_payment_path(@order), class:'btn btn-primary' do %>
  Purchase
  <% end %>
</div>
</div>
