<div class="container">
  <h1>Choose a Meal</h1>
  <!-- <%= link_to new_meal_provider_meal_path, class:'btn btn-primary' do %> Add a meal
  <% end %>  -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add a Meal
  </button>
  <div class="row">
    <% @meals.each do |meal| %>
    <%= link_to meal_provider_meal_path(meal.meal_provider, meal) do %>
    <div class="col-xs-6 col-lg-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path meal.photo%>')";>
        <div class="card-category">
          <%= meal.meal_provider.category %>
        </div>
        <div class="card-description">
          <h2> <%= meal.name %> </h2>
          <p><%= meal.description %> </p>
        </div>
        <div class="card-price">
          <%= meal.price %>€
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Meal</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', meal: @meal %>
      </div>
    </div>
  </div>
</div>
